# Please duplicate this file to ".env.local" for local development
# in production development, these values will be automatically set.
VITE_APP_API_ENDPOINT="https://24wianfndg.execute-api.eu-central-1.amazonaws.com"
VITE_APP_WS_ENDPOINT="wss://4u0ir12aac.execute-api.eu-central-1.amazonaws.com/dev"
VITE_APP_USER_POOL_ID="eu-central-1_1om4As2ay"
VITE_APP_USER_POOL_CLIENT_ID="22bc0nm2h45958pm7ao23mvmk5"
VITE_APP_REGION="eu-central-1"
VITE_APP_REDIRECT_SIGNIN_URL="http://localhost:5173/"
VITE_APP_REDIRECT_SIGNOUT_URL="http://localhost:5173/"
VITE_APP_COGNITO_DOMAIN="https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_1om4As2ay"
VITE_APP_USE_STREAMING="true"
VITE_APP_SOCIAL_PROVIDERS="google"